body{
background-color:black;
background-attachment:fixed;
}                

.text_in_menu{
position:fixed;
top:120px;
}

.text_in_heading{
color:red;
position:absolute;
top:16px;
font-weight:bold;
}

.text_in_body{
color:white;
position:absolute;
top:120px; 
}

.text_in_side{
color:rgb(240,185,56);
font-weight:none;
width:268px;
overflow:auto;
padding-right:20px;
position:absolute;
position:fixed;
top:0;
right:0;
bottom:0;
}

.download_all_text{
color:white;
font-size:25px;
position:relative;
top:20px;
}

.date{
color:white;
font-size:12px;
}

.novinka_text{
color: rgb(0,255,0);
}

.mytable table{
border-collapse: separate;
background-color:black;
border-color:#404040;
color:white;
text-align:center;
}

.mytable_special table{
border-collapse: separate;
background-color:black;
border-color:#404040;
color:white;
text-align:center;
position: absolute;
top: 0px;
left: 220px;
}

.change a:hover{
opacity: 0.6; 
}

.text_in_menu a:link{   
color:white;
text-decoration:none;
} 

.text_in_menu a:visited{
color:white;
text-decoration:none;
}

.text_in_menu a:hover{
color:rgb(123,191,106);
text-decoration:none;
margin:5px;
}

.text_in_body a:link{   
color:white;
text-decoration:none;
} 

.text_in_body a:visited{
color:white;
text-decoration:none;
}

.text_in_body a:hover{
color:rgb(240,185,56);
text-decoration:none;
}

.text_in_body_margin a:link{   
color:white;
text-decoration:none;
} 

.text_in_body_margin a:visited{
color:white;
text-decoration:none;
}

.text_in_body_margin a:hover{
color:rgb(240,185,56);
text-decoration:none;
margin:5px;
}

.text_in_side a:link{   
color:white;
text-decoration:none;
} 

.text_in_side a:visited{
color:white;
text-decoration:none;
}

.text_in_side a:hover{
color:rgb(123,191,106);
text-decoration:none;
}






